.auth-container {
  background-color: white !important;
  width: 500px;
  margin: 2rem auto;
  border-radius: 10px;
  /* box-shadow: 1 1 1 1 #000; */
}
.signin-form {
  display: grid;
  row-gap: 2rem;
  padding: 2rem 2rem 2rem 1rem;
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75);
}
.signin-form form {
  display: grid;
  row-gap: 1rem;
}
.signin-form label {
  display: grid;
  grid-template-columns: 30% auto;
  column-gap: 1rem;
  align-items: center;
}
.signin-form__misc {
  display: grid;
  row-gap: 1rem;
}
.signin-form__misc--link{
  text-decoration: none;
  color: #000;
}
.signin-form__misc--link:hover{
  text-decoration: underline;
  cursor: pointer;
}
.signin-form label input {
  padding:5px;
}

.signin-form__submit {
  background-color: var(--primary);
  color: white;
  padding: 5px;
  border: 1px solid var(--primary);
  min-width: 20%;
  justify-self: end;
}
.signin-form__submit:hover {
  background-color: white;
  color:  var(--primary);
}
.signin-form__misc {
  font-size: small;
}
.auth-btn {
  display: grid;
  grid-template-columns: 2fr 10fr;
  align-items: center;
  width: 10rem;
  border: 1px solid #bbb;
  padding:0.3rem;
  border-radius: 2px;
  margin: 0 auto;
}
.auth-icon-svg {
  width: 1.5rem;
}
.auth-btn .btn-text {
  font-size: 0.8rem;
}
.auth-buttons {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.oauth {
  display: grid;
  row-gap: 0.5rem;
}


@media(max-width:700px){
  .auth-container {
    width: 400px;
  } 
}
@media(max-width:450px){
  .auth-container {
    width: calc(100vw - 50px);
  } 
  .auth-buttons {
    display: grid;
    grid-template-columns: 1fr;
  }
}