:root {
  --nav-color: #fff;
  --hover-color: #ddd;
  --hover-font-size: 15px;
  --hover-icon-font-size: 2.3rem;
}
aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
  background-color: var(--primary) !important ;
  border-top: 6.5px solid #277ea0;
  padding-top: 1rem !important;
}
aside svg {
  margin: 1rem 0;
}
.close-menu-cont {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
}
.add-icon {
  cursor: pointer;
  margin: 1rem 0;
}
nav {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.3rem;
  justify-content: space-between;
}
nav * {
  cursor: pointer;
}
#swag-gp-logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: var(--nav-color);
  font-size: 1.3rem;
  color: rgba(45, 145, 185, 0.8);
  padding: 0 0.2rem;
}
#user-icon {
  font-size: 2rem;
  color: var(--nav-color);
}
#user-icon:hover,
#show-chart:hover {
  color: var(--hover-color);
}
.user-actions {
  display: flex;
  align-items: center;
}
.user-actions * {
  padding: 0 0.5rem;
}
.nav-link {
  text-decoration: none;
  color: var(--nav-color);
  font-size: 0.8rem;
}
.nav-link:hover {
  color: var(--hover-color);
  font-size: var(--hover-font-size);
}
.invisible {
  display: none;
}
:root {
  --side-nav-width: 70vw;
  --negative-width: -70vw;
}
.side-nav {
  position: fixed;
  z-index: 2;
  height: 100% !important;
  width: var(--side-nav-width);
  background-color: white !important;
  text-align: left;
  overflow: auto;
  transition: margin 0.5s;
  margin-left: var(--negative-width) !important;
}
.side-nav.is-nav-open {
  margin: 0 !important;
}
.close-side-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 1rem;
}
.close-side-nav .close-button {
  cursor: pointer;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}
.user-icon {
  font-size: 5rem;
  color: var(--primary);
}
.side-nav-links {
  padding: 0 1rem;
  display: flex;
  flex-flow: column wrap;
}

.side-nav-link {
  color: black !important;
  text-decoration: none !important;
  margin: 0.5rem 0;
}

@media (max-width: 700px) {
  aside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: none;
    position: fixed !important;
    bottom: 0 !important;
    padding-top: 0 !important;
  }
  aside svg {
    margin: 0 1rem;
  }
}
@media (max-width: 450px) {
  .user-actions {
    display: none;
  }
  .invisible {
    display: block;
  }
  .semester-card {
    min-width: 95% !important;
  }
}
