:root {
  --primary:#2d92b9;
  --primary-light:rgba(45, 145, 185, 0.8);
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

.close-popup-cont {
  display: flex;
  justify-content: flex-end;
}
.close-modal-cont {
  display: flex;
  justify-content: flex-end;
  padding: 0.4rem 1rem;
  margin:0;
  background-color: rgba(255, 255, 255, 0.53);
  width:17rem ;
  margin: auto;
}
.close-popup, .close-modal {
  background-color: var(--primary-light);
  color: white;
  width: 3rem;
  height: 1.5rem;
}
.close-modal {
  margin:0;
}

.update-semester-details {
  background-color: var(--primary-light);
  color: white;
  width: 3.5rem;
  height: 1.5rem;
  margin: 0 0 1rem 14rem;
}
.semester-details-name {
  border-bottom: 1px solid #000 !important;
}
.edit-semester-details-form label {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

@media(max-width:700px){
  .popup-inner {
    left:13%;
    right: 13%;
  }
}
@media(max-width:450px){
  .popup-inner {
    left:5%;
    right: 5%;
    font-size: 0.9rem;
  }
}
