/* .pulse {
  animation: pulse 1.2s ease infinite;
  background: var(--primary);
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
} */

.orange {
  color: orange;
}