:root {
  --primary-light:rgba(45, 145, 185, 0.8);
  --anim-time:600ms;
}
.semester-card {
  padding: 0.5rem;
  background-color: #ffffff86;
  border-radius: 0.3rem;
  border: 1px solid #2d91b998;
}
.summary {
  width: 100% !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  height: 100px;
  background-color: #fff !important;
  margin:0 !important;
  border: none !important;
  padding: 1rem 2rem;
}

.edit-course {
  color: var(--primary-light);
  margin-right: 1rem;
  cursor: pointer;
}
.delete-course{
  color: lightcoral;
  cursor: pointer;
}


.pulse {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 var(--primary-light);
  transform: translate3d(0, 0, 0);
  
  animation: pulse 1.25s infinite cubic-bezier(0.26, 0.33, 0, 1);
  -webkit-transition: var(--anim-time) 600ms ease-in-out;
  -moz-transition: var(--anim-time) 600ms ease-in-out;
  -ms-transition: var(--anim-time) 600ms ease-in-out;
  -o-transition: var(--anim-time) 600ms ease-in-out;
  transition: var(--anim-time) 600ms ease-in-out;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 18px rgba(227, 115, 14, 0);
  }
}

@media(max-width:450px){
  .summary {
    grid-template-columns: 1fr;
    height: 120px;
  }
  .summary * {
    line-height: 1.1rem;
  }
}